[submodule "imager"]
	path = imager
	url = https://github.com/iamupo/imager.git
[submodule "passgenerator"]
	path = passgenerator
	url = https://github.com/iamupo/passgenerator.git
[submodule "cryptofam"]
	path = cryptofam
	url = https://github.com/iamupo/cryptofam.git
[submodule "tonkeeper-battery"]
	path = tonkeeper-battery
	url = https://github.com/upovibe/tonkeeper-battery.git
[submodule "my-next-components"]
	path = my-next-components
	url = https://github.com/upovibe/my-next-components.git
[submodule "dashboardx"]
	path = dashboardx
	url = https://github.com/upovibe/dashboardx.git
